<div class="column-layout group">
  <div class="row-layout group_1">
    <p class="text">
      Select a dashboard to view / edit
    </p>
    <igx-simple-combo type="border" [data]="revealServerDashboardNames" valueKey="dashboardFileName" displayKey="dashboardTitle" (selectionChanging)="singleSelectComboSelectionChanging($event)" class="single-select-combo"></igx-simple-combo>
  </div>
</div>
<div class="column-layout group_2">
  <div #revealView style="height: calc(100vh - 75px); width: 100%; position:relative;" class="reveal-dash-board"></div>
</div>
